// Configuration for a single-core CPU.
 
// Common params.
num_cores       4
line_size       64
cpu_scheduling  true
sim_refs        8888888
warmup_fraction 0.8
 
// Cache params.
P0L1I {                        // P0 L1 instruction cache
  type            instruction
  core            0
  size            65536        // 64K
  assoc           8
  parent          P0L2
  replace_policy  LRU
}
P0L1D {                        // P0 L1 data cache
  type            data
  core            0
  size            65536        // 64K
  assoc           8
  parent          P0L2
  replace_policy  LRU
}
P0L2 {                         // P0 L2 unified cache
  size            512K
  assoc           16
  inclusive       true
  parent          LLC
  replace_policy  LRU
}
P1L1I {                        // P1 L1 instruction cache
  type            instruction
  core            1
  size            65536        // 64K
  assoc           8
  parent          P1L2
  replace_policy  LRU
}
P1L1D {                        // P1 L1 data cache
  type            data
  core            1
  size            65536        // 64K
  assoc           8
  parent          P1L2
  replace_policy  LRU
}
P1L2 {                         // P1 L2 unified cache
  size            512K
  assoc           16
  inclusive       true
  parent          LLC
  replace_policy  LRU
}
P2L1I {                        // P2 L1 instruction cache
  type            instruction
  core            2
  size            65536        // 64K
  assoc           8
  parent          P2L2
  replace_policy  LRU
}
P2L1D {                        // P2 L1 data cache
  type            data
  core            2
  size            65536        // 64K
  assoc           8
  parent          P2L2
  replace_policy  LRU
}
P2L2 {                         // P2 L2 unified cache
  size            512K
  assoc           16
  inclusive       true
  parent          LLC
  replace_policy  LRU
}
P3L1I {                        // P3 L1 instruction cache
  type            instruction
  core            3
  size            65536        // 64K
  assoc           8
  parent          P3L2
  replace_policy  LRU
}
P3L1D {                        // P3 L1 data cache
  type            data
  core            3
  size            65536        // 64K
  assoc           8
  parent          P3L2
  replace_policy  LRU
}
P3L2 {                         // P3 L2 unified cache
  size            512K
  assoc           16
  inclusive       true
  parent          LLC
  replace_policy  LRU
}
LLC {                          // LLC
  size            1M
  assoc           16
  inclusive       true
//  parent          mem
  replace_policy  LRU
  miss_file       misses.txt
}
