// Configuration for a single-core CPU.
 
// Common params.
num_cores       16
line_size       64
cpu_scheduling  true
sim_refs        8888888
warmup_fraction 0.8
coherence true

// Cache params
P0L1I {                        // P0 L1 instruction cache
  type            instruction
  core            0
  size            65536        // 64K
  assoc           4
  parent          P0L2
  replace_policy  LRU
}
P0L1D {                        // P0 L1 data cache
  type            data
  core            0
  size            65536        // 64K
  assoc           4
  parent          P0L2
  replace_policy  LRU
}
P0L2 {                         // P0 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC0
  replace_policy  LRU
}
P1L1I {                        // P1 L1 instruction cache
  type            instruction
  core            1
  size            65536        // 64K
  assoc           4
  parent          P1L2
  replace_policy  LRU
}
P1L1D {                        // P1 L1 data cache
  type            data
  core            1
  size            65536        // 64K
  assoc           4
  parent          P1L2
  replace_policy  LRU
}
P1L2 {                         // P1 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC0
  replace_policy  LRU
}
P2L1I {                        // P2 L1 instruction cache
  type            instruction
  core            2
  size            65536        // 64K
  assoc           4
  parent          P2L2
  replace_policy  LRU
}
P2L1D {                        // P2 L1 data cache
  type            data
  core            2
  size            65536        // 64K
  assoc           4
  parent          P2L2
  replace_policy  LRU
}
P2L2 {                         // P2 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC0
  replace_policy  LRU
}
P3L1I {                        // P3 L1 instruction cache
  type            instruction
  core            3
  size            65536        // 64K
  assoc           4
  parent          P3L2
  replace_policy  LRU
}
P3L1D {                        // P3 L1 data cache
  type            data
  core            3
  size            65536        // 64K
  assoc           4
  parent          P3L2
  replace_policy  LRU
}
P3L2 {                         // P3 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC0
  replace_policy  LRU
}
LLC0 {                          // LLC
  size            4M
  assoc           16
  inclusive       true
//  parent          mem
  replace_policy  LRU
  miss_file       misses0.txt
}


P4L1I {                        // P0 L1 instruction cache
  type            instruction
  core            4
  size            65536        // 64K
  assoc           4
  parent          P4L2
  replace_policy  LRU
}
P4L1D {                        // P0 L1 data cache
  type            data
  core            4
  size            65536        // 64K
  assoc           4
  parent          P4L2
  replace_policy  LRU
}
P4L2 {                         // P0 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC1
  replace_policy  LRU
}
P5L1I {                        // P1 L1 instruction cache
  type            instruction
  core            5
  size            65536        // 64K
  assoc           4
  parent          P5L2
  replace_policy  LRU
}
P5L1D {                        // P1 L1 data cache
  type            data
  core            5
  size            65536        // 64K
  assoc           4
  parent          P5L2
  replace_policy  LRU
}
P5L2 {                         // P1 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC1
  replace_policy  LRU
}
P6L1I {                        // P2 L1 instruction cache
  type            instruction
  core            6
  size            65536        // 64K
  assoc           4
  parent          P6L2
  replace_policy  LRU
}
P6L1D {                        // P2 L1 data cache
  type            data
  core            6
  size            65536        // 64K
  assoc           4
  parent          P6L2
  replace_policy  LRU
}
P6L2 {                         // P2 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC1
  replace_policy  LRU
}
P7L1I {                        // P3 L1 instruction cache
  type            instruction
  core            7
  size            65536        // 64K
  assoc           4
  parent          P7L2
  replace_policy  LRU
}
P7L1D {                        // P3 L1 data cache
  type            data
  core            7
  size            65536        // 64K
  assoc           4
  parent          P7L2
  replace_policy  LRU
}
P7L2 {                         // P3 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC1
  replace_policy  LRU
}
LLC1 {                          // LLC
  size            4M
  assoc           16
  inclusive       true
//  parent          mem
  replace_policy  LRU
  miss_file       misses1.txt
}

 
P8L1I {                        // P0 L1 instruction cache
  type            instruction
  core            8
  size            65536        // 64K
  assoc           4
  parent          P8L2
  replace_policy  LRU
}
P8L1D {                        // P0 L1 data cache
  type            data
  core            8
  size            65536        // 64K
  assoc           4
  parent          P8L2
  replace_policy  LRU
}
P8L2 {                         // P0 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC2
  replace_policy  LRU
}
P9L1I {                        // P1 L1 instruction cache
  type            instruction
  core            9
  size            65536        // 64K
  assoc           4
  parent          P9L2
  replace_policy  LRU
}
P9L1D {                        // P1 L1 data cache
  type            data
  core            9
  size            65536        // 64K
  assoc           4
  parent          P9L2
  replace_policy  LRU
}
P9L2 {                         // P1 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC2
  replace_policy  LRU
}
P10L1I {                        // P2 L1 instruction cache
  type            instruction
  core            10
  size            65536        // 64K
  assoc           4
  parent          P10L2
  replace_policy  LRU
}
P10L1D {                        // P2 L1 data cache
  type            data
  core            10
  size            65536        // 64K
  assoc           4
  parent          P10L2
  replace_policy  LRU
}
P10L2 {                         // P2 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC2
  replace_policy  LRU
}
P11L1I {                        // P3 L1 instruction cache
  type            instruction
  core            11
  size            65536        // 64K
  assoc           4
  parent          P11L2
  replace_policy  LRU
}
P11L1D {                        // P3 L1 data cache
  type            data
  core            11
  size            65536        // 64K
  assoc           4
  parent          P11L2
  replace_policy  LRU
}
P11L2 {                         // P3 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC2
  replace_policy  LRU
}
LLC2 {                          // LLC
  size            4M
  assoc           16
  inclusive       true
//  parent          mem
  replace_policy  LRU
  miss_file       misses2.txt
}
P12L1I {                        // P0 L1 instruction cache
  type            instruction
  core            12
  size            65536        // 64K
  assoc           4
  parent          P12L2
  replace_policy  LRU
}
P12L1D {                        // P0 L1 data cache
  type            data
  core            12
  size            65536        // 64K
  assoc           4
  parent          P12L2
  replace_policy  LRU
}
P12L2 {                         // P0 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC3
  replace_policy  LRU
}
P13L1I {                        // P1 L1 instruction cache
  type            instruction
  core            13
  size            65536        // 64K
  assoc           4
  parent          P13L2
  replace_policy  LRU
}
P13L1D {                        // P1 L1 data cache
  type            data
  core            13
  size            65536        // 64K
  assoc           4
  parent          P13L2
  replace_policy  LRU
}
P13L2 {                         // P1 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC3
  replace_policy  LRU
}
P14L1I {                        // P2 L1 instruction cache
  type            instruction
  core            14
  size            65536        // 64K
  assoc           4
  parent          P14L2
  replace_policy  LRU
}
P14L1D {                        // P2 L1 data cache
  type            data
  core            14
  size            65536        // 64K
  assoc           4
  parent          P14L2
  replace_policy  LRU
}
P14L2 {                         // P2 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC3
  replace_policy  LRU
}
P15L1I {                        // P3 L1 instruction cache
  type            instruction
  core            15
  size            65536        // 64K
  assoc           4
  parent          P15L2
  replace_policy  LRU
}
P15L1D {                        // P3 L1 data cache
  type            data
  core            15
  size            65536        // 64K
  assoc           4
  parent          P15L2
  replace_policy  LRU
}
P15L2 {                         // P3 L2 unified cache
  size            512K
  assoc           8
  inclusive       true
  parent          LLC3
  replace_policy  LRU
}
LLC3 {                          // LLC
  size            4M
  assoc           16
  inclusive       true
//  parent          mem
  replace_policy  LRU
  miss_file       misses3.txt
}
